<a href="https://colab.research.google.com/github/sagartiwari0608/rumor_detection/blob/main/rumor_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
df=pd.read_csv('/content/drive/My Drive/Rumor/news.csv') # to read data froom dataset

In [4]:
df.shape
df.head()

   Unnamed: 0  ... label
0        8476  ...  FAKE
1       10294  ...  FAKE
2        3608  ...  REAL
3       10142  ...  FAKE
4         875  ...  REAL

[5 rows x 4 columns]

In [5]:
labels=df.label
labels.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [6]:
df.isna().sum() #find the number of null values

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [7]:
df=df.dropna(axis=0, how="any") # to drop rows or columns having Nan(null values)

In [8]:
df.shape # to make sure shape of data is same

(6335, 4)

In [9]:
#Split the dataset
x_train,x_test,y_train,y_test=train_test_split(df['text'], labels, test_size=0.2, random_state=7)

In [10]:
y_train.head()

6237    FAKE
3722    FAKE
5774    FAKE
336     REAL
3622    REAL
Name: label, dtype: object

In [11]:
# Initialize a TfidfVectorizer( term frequency -iverse document frequency)
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)

In [15]:
# Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train.values.astype('U')) 
tfidf_test=tfidf_vectorizer.transform(x_test.values.astype('U'))

In [14]:
#Initializing a PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [16]:
#Predict on the test set and calculate accuracy
y_pred=pac.predict(tfidf_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 92.9%

In [17]:
#Build confusion matrix
confusion_matrix(y_test,y_pred, labels=['FAKE','REAL'])

array([[589,  49],
       [ 41, 588]])

In [18]:
input_data = [input()]
vectorized_input_data = tfidf_vectorizer.transform(input_data)
prediction = pac.predict(vectorized_input_data)
print(prediction)

Kerry to go to Paris in gesture of sympathy
['REAL']